* {
    font-family: 'Comfortaa', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(#B1DCC2, #B6A2D5);
}

a {
    text-decoration: none;
}

a:focus {
    outline: 4px dashed #B6A2D5;
}

/* === KEYBOARD SUPPORT INFO ==*/
.keyboard-info {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.info-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#info-button {
    cursor: pointer;
    font-size: 1.1rem;
    border: 0;
    background-color: rgba(177, 220, 194, .2);
    box-shadow: -8px -8px 1px rgba(224, 220, 230, 0.4), 1px 1px 5px rgba(224, 220, 230, 1);
    color: white;
    border-radius: 20px;
    padding: 15px;
}

#info-button:hover {
    background-color: rgba(182, 162, 213, 1);
}
/* === KEYBOARD SUPPORT INFO - END ==*/

.calculator {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto)repeat(5, 80px);
    border-radius: 20px;
    box-shadow: -8px -8px 20px rgba(224, 220, 230, 1), 1px 1px 5px rgba(224, 220, 230, 1);
    padding: 20px;
    max-width: 360px;
    min-width: 300px;

}

.calculator button {
    cursor: pointer;
    font-size: 1.1rem;
    border: 0;
    background-color: rgba(177, 220, 194, .2);
    box-shadow: -8px -8px 1px rgba(224, 220, 230, 0.4), 1px 1px 5px rgba(224, 220, 230, 1);
    color: white;
    border-radius: 20px;
    margin: 10px;

}

.calculator button:hover {
    background-color: rgba(177, 220, 194, 1);
}

button:focus {
    outline: 4px dashed #B6A2D5;
    background-color: rgba(177, 220, 194, 1);
}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1/-1;
    background-color: rgba(182, 162, 213, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border: 0;
    box-shadow: -8px -8px 15px rgba(224, 220, 230, 1), 5px 5px 15px rgba(224, 220, 230, 1);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.display .previous-number {
    color: gray;
    font-size: 0.8rem;

}

.display .current-number {
    color: white;
    font-size: 1.1rem;
}